<a href="https://colab.research.google.com/github/SolbiChoi/learn_visualization/blob/master/boston_linearregression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df = pd.read_csv('./Boston.csv')
df

     Unnamed: 0     crim    zn  indus  chas  ...  tax  ptratio   black  lstat  medv
0             1  0.00632  18.0   2.31     0  ...  296     15.3  396.90   4.98  24.0
1             2  0.02731   0.0   7.07     0  ...  242     17.8  396.90   9.14  21.6
2             3  0.02729   0.0   7.07     0  ...  242     17.8  392.83   4.03  34.7
3             4  0.03237   0.0   2.18     0  ...  222     18.7  394.63   2.94  33.4
4             5  0.06905   0.0   2.18     0  ...  222     18.7  396.90   5.33  36.2
..          ...      ...   ...    ...   ...  ...  ...      ...     ...    ...   ...
501         502  0.06263   0.0  11.93     0  ...  273     21.0  391.99   9.67  22.4
502         503  0.04527   0.0  11.93     0  ...  273     21.0  396.90   9.08  20.6
503         504  0.06076   0.0  11.93     0  ...  273     21.0  396.90   5.64  23.9
504         505  0.10959   0.0  11.93     0  ...  273     21.0  393.45   6.48  22.0
505         506  0.04741   0.0  11.93     0  ...  273     21.0  396.90   7.88  11.9

[506 rows x 15 columns]

In [2]:
df.drop(columns=['Unnamed: 0'])

        crim    zn  indus  chas    nox  ...  tax  ptratio   black  lstat  medv
0    0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1    0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2    0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3    0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4    0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2
..       ...   ...    ...   ...    ...  ...  ...      ...     ...    ...   ...
501  0.06263   0.0  11.93     0  0.573  ...  273     21.0  391.99   9.67  22.4
502  0.04527   0.0  11.93     0  0.573  ...  273     21.0  396.90   9.08  20.6
503  0.06076   0.0  11.93     0  0.573  ...  273     21.0  396.90   5.64  23.9
504  0.10959   0.0  11.93     0  0.573  ...  273     21.0  393.45   6.48  22.0
505  0.04741   0.0  11.93     0  0.573  ...  273     21.0  396.90   7.88  11.9

[506 rows x 14 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  506 non-null    int64
 1   crim        506 non-null    float64
 2   zn          506 non-null    float64
 3   indus       506 non-null    float64
 4   chas        506 non-null    int64
 5   nox         506 non-null    float64
 6   rm          506 non-null    float64
 7   age         506 non-null    float64
 8   dis         506 non-null    float64
 9   rad         506 non-null    int64
 10  tax         506 non-null    int64
 11  ptratio     506 non-null    float64
 12  black       506 non-null    float64
 13  lstat       506 non-null    float64
 14  medv        506 non-null    float64
dtypes: float64(11), int64(4)
memory usage: 59.4 KB

In [4]:
df.head()

   Unnamed: 0     crim    zn  indus  chas  ...  tax  ptratio   black  lstat  medv
0           1  0.00632  18.0   2.31     0  ...  296     15.3  396.90   4.98  24.0
1           2  0.02731   0.0   7.07     0  ...  242     17.8  396.90   9.14  21.6
2           3  0.02729   0.0   7.07     0  ...  242     17.8  392.83   4.03  34.7
3           4  0.03237   0.0   2.18     0  ...  222     18.7  394.63   2.94  33.4
4           5  0.06905   0.0   2.18     0  ...  222     18.7  396.90   5.33  36.2

[5 rows x 15 columns]

## check columns
- 연속형 : crim, indus, nox, rm, age, dis, ptratio, black, lstat, medv, zn, tax
- 분류형 : chas, rad
- 중립형 : zn, chas, rad, tax

In [5]:
df['zn'].describe(include='all')

count    506.000000
mean      11.363636
std       23.322453
min        0.000000
25%        0.000000
50%        0.000000
75%       12.500000
max      100.000000
Name: zn, dtype: float64

In [6]:
df['zn'].value_counts()

0.0      372
20.0      21
80.0      15
12.5      10
22.0      10
25.0      10
40.0       7
45.0       6
30.0       6
90.0       5
21.0       4
95.0       4
60.0       4
33.0       4
75.0       3
35.0       3
28.0       3
55.0       3
52.5       3
70.0       3
34.0       3
85.0       2
82.5       2
17.5       1
100.0      1
18.0       1
Name: zn, dtype: int64

In [7]:
df['chas'].describe(include='all')

count    506.000000
mean       0.069170
std        0.253994
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000
Name: chas, dtype: float64

In [8]:
df['chas'].value_counts()

0    471
1     35
Name: chas, dtype: int64

In [9]:
df['rad'].describe(include='all')

count    506.000000
mean       9.549407
std        8.707259
min        1.000000
25%        4.000000
50%        5.000000
75%       24.000000
max       24.000000
Name: rad, dtype: float64

In [10]:
df['rad'].value_counts()

24    132
5     115
4     110
3      38
6      26
8      24
2      24
1      20
7      17
Name: rad, dtype: int64

In [11]:
df['tax'].describe(include='all')

count    506.000000
mean     408.237154
std      168.537116
min      187.000000
25%      279.000000
50%      330.000000
75%      666.000000
max      711.000000
Name: tax, dtype: float64

In [12]:
df['tax'].value_counts()

666    132
307     40
403     30
437     15
304     14
      ...
280      1
313      1
351      1
422      1
285      1
Name: tax, Length: 66, dtype: int64

## 정규화 단계

In [13]:
Y = df['tax']
X_continuous = df[['crim', 'indus', 'nox', 'rm', 'age', 'dis', 'ptratio', 'black', 'lstat', 'medv', 'zn']]

In [14]:
from sklearn import preprocessing

In [15]:
scaler = preprocessing.StandardScaler()
type(scaler)

sklearn.preprocessing._data.StandardScaler

In [16]:
scaler.fit(X_continuous)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [17]:
X = scaler.transform(X_continuous)

In [18]:
from sklearn.linear_model import LinearRegression

In [19]:
lr = LinearRegression()

In [20]:
type(lr)

sklearn.linear_model._base.LinearRegression

In [21]:
lr.fit(X,Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [22]:
lr.score(X,Y)

0.7062319219353548

## pickle

In [23]:
import pickle
pickle.dump(lr, open('./boston_lr.pkl','wb'))

In [24]:
!ls -l ./boston_lr.pkl

-rw-r--r-- 1 root root 679 Jul  6 06:05 ./boston_lr.pkl

In [25]:
pickle.load(open('./boston_lr.pkl','rb'))

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [26]:
df.head(1)

   Unnamed: 0     crim    zn  indus  chas  ...  tax  ptratio  black  lstat  medv
0           1  0.00632  18.0   2.31     0  ...  296     15.3  396.9   4.98  24.0

[1 rows x 15 columns]

### X_continuous = df[['crim', 'indus', 'nox', 'rm', 'age', 'dis', 'ptratio', 'black', 'lstat', 'medv', 'zn']]

In [27]:
x_customer = scaler.transform([[0.00632, 2.31, 0.538, 6.575, 65.2, 4.09, 15.3, 396.9, 4.98, 24.0, 18.0]])

In [28]:
lr.predict(x_customer)
x_customer.shape

(1, 11)

In [29]:
pickle.dump(scaler, open('./boston_standardscaler.pkl','wb'))